@font-face {
  font-family: 'Honeywell Sans Web_Bold';
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Bold.eot');
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Bold.eot?#iefix') format('embedded-opentype'), 
 url('~/assets/fonts/honeywell/HoneywellSansWeb-Bold.woff') format('woff'), 
 url('~/assets/fonts/honeywell/HoneywellSansWeb-Bold.woff2') format('woff2'),
 url('~/assets/fonts/honeywell/HoneywellSansWeb-Bold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Book';
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Book.eot');
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Book.eot?#iefix') format('embedded-opentype'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Book.woff') format('woff'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Book.woff2') format('woff2'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Book.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Light';
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Light.eot');
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Light.eot?#iefix') format('embedded-opentype'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Light.woff') format('woff'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Light.woff2') format('woff2'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Light.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Medium';
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Medium.eot');
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Medium.eot?#iefix') format('embedded-opentype'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Medium.woff') format('woff'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Medium.woff2') format('woff2'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Medium.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Honeywell Sans Web_Extrabold';
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Extrabold.eot');
  src:url('~/assets/fonts/honeywell/HoneywellSansWeb-Extrabold.eot?#iefix') format('embedded-opentype'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Extrabold.woff') format('woff'),url('~/assets/fonts/honeywell/HoneywellSansWeb-Extrabold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
